<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCX13v9U2joN1_vJn_BH5PqJ9AXrtF6ApI</string>
	<key>GCM_SENDER_ID</key>
	<string>585262537421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.srgroupstays</string>
	<key>PROJECT_ID</key>
	<string>sr-group-stays-4cdb3</string>
	<key>STORAGE_BUCKET</key>
	<string>sr-group-stays-4cdb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585262537421:ios:728b0c5aa7776e192a6784</string>
</dict>
</plist>